*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

body{
  width:100vw;
  display: grid;
  place-items: center;
}

input{
  font-size: 32px;

}

span{
  text-align: center;
  border: 1px solid;
  margin: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5px;
}
span:active{
  background-color: black;
  color: white;
  transition: 0.5s;
}

table,th,td{
  border: 1px solid;
  border-collapse: collapse;
}

th,td{
  width: 10rem;
  text-align: center;
}

